# Chapter 3 - Introducing Lists

### Accessing Elements in a List (p.34)

In [32]:
# Python considers the first item in a list to be at position 0 (not position 1)
numbers = [1 , 2, 3]
print(numbers[1])

2

In [44]:
# Accessing a tuple in list
numbers = [(1, 2) , (2, 3)]
print(numbers[0][1])

2

In [1]:
# Use index -1 to access last item in a list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

### Modifying Elements in a List (p.36)

In [2]:
# To change an element, use the name of the list followed by the index of the element, then provide new value
print(motorcycles)
motorcycles[1] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'ducati', 'suzuki']

---
# Adding Elements in a List

### append() method - simplest way to add new element to end of the list and build lists dynamically (p.37-38)

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [27]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

### insert() method - add new element at any position by specifying index of new element and value of new item (p.38)

In [28]:
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

---
# Removing Elements in a List 

* if you want to delete an item and NOT use it in any way - use del() statement
* if you want to use an item as you remove it - use pop() method
* if you want to use an item as you remove it, but don't know the location - use remove() method by value

### del() Statement - remove item from a position (p.39)
* permanently removes from list
* unable to access value when removed with del Statement

In [29]:
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

### pop() method - remove value from end of list (p.39)
* permanently removes from list
* but lets you work with that item after removing it
* the term pop comes from popping one item off the top of the stack of items

In [41]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)
print(motorcycles)

['honda', 'yamaha', 'suzuki']
suzuki
['honda', 'yamaha']

* example: use pop() method to print a sentence about the last motorcycle purchased

In [2]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
The last motorcycle I owned was a Suzuki.
['honda', 'yamaha']

### pop() method - remove items from any position in a list (p.40)
* permanently removes from list
* but lets you work with that item after removing it

In [3]:
print(motorcycles)
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")
print(motorcycles)

['honda', 'yamaha']
The first motorcycle I owned was a Honda.
['yamaha']

### remove() method - remove an item by value (p.41)
* helpful if you don't know the position of the value you want to remove
* permanently removes from list but lets you work with that item after removing it
* deletes only the first occurence of the value specified
    * need to use a loop to make sure all occurences are removed

In [7]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(f"\nA {too_expensive.title()} is too expensive for me.\n")
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

A Ducati is too expensive for me.

['honda', 'yamaha', 'suzuki']

In [4]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'ducati']

---
# Organizing a List 
* note: sorting is a bit more complicated when all values are not in lowercase

### sort() method - sort list permanently (p.43)
* changes to alphabetical order

In [146]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

<br></br>
* list in reverse alphabetical order

In [149]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

### sorted() Function - sort list temporarily (p.44)
* maintain the original order but present it in a sorted order
* can also accept a reverse=True argument to list in reverse alphabetical order

In [153]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f"\nHere is the original list: {cars}")
print(f"\nHere is the sorted list: {sorted(cars, reverse=True)}")
print(f"\nHere is the sorted list in reverse: {sorted(cars)}")
print(f"\nHere is the original list again: {cars}")

Here is the original list: ['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list: ['toyota', 'subaru', 'bmw', 'audi']

Here is the sorted list in reverse: ['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again: ['bmw', 'audi', 'toyota', 'subaru']

### reverse() method - reverse list permanently (p.45)
* rearrange list into reverse chronological order

In [155]:
print(cars)
cars.reverse()
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']
['bmw', 'audi', 'toyota', 'subaru']

### len() Function - find the length of a list (p.45)
* Python counts list items starting with one (1), prevents off-by-one errors
* ex) identify # of aliens left to shoot down in game, determine amount of data to manage in visualization, 
    figure out # of registered users on a website, etc

In [1]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

---
# Practice Problems

p.42-43

**3-4. Guest List**

In [96]:
guest_list = ['rhadika', 'william', 'andie']
print(guest_list)
print(f"\nYou're invited to dinner, {guest_list[2].title()}!")
guest = guest_list.pop()
print(f"You're invited to dinner, {guest.title()}!")
print(f"\nYou're invited to dinner, {guest_list[1].title()}!")
guest = guest_list.pop()
print(f"You're invited to dinner, {guest.title()}!")
print(f"\nYou're invited to dinner, {guest_list[0].title()}!")
guest = guest_list.pop()
print(f"You're invited to dinner, {guest.title()}!")
print(f"\n{guest_list}")

['rhadika', 'william', 'andie']

You're invited to dinner, Andie!
You're invited to dinner, Andie!

You're invited to dinner, William!
You're invited to dinner, William!

You're invited to dinner, Rhadika!
You're invited to dinner, Rhadika!

[]

In [122]:
guest_list = ['rhadika', 'william', 'andie']
for guest in guest_list:
    print(f"\nYou're invited to dinner, {guest.title()}!")

You're invited to dinner, Rhadika!

You're invited to dinner, William!

You're invited to dinner, Andie!

---
**3-5. Changing Guest List**

In [135]:
guest_list = ['rhadika', 'william', 'andie']
print(guest_list)
print(f"\nAww shucks, {guest_list[2].title()} can't make it!")
guest_list[2] = 'vinay'
for guest in guest_list:
    print(f"\nYou're invited to dinner, {guest.title()}!")
print(guest_list)

['rhadika', 'william', 'andie']

Aww shucks, Andie can't make it!

You're invited to dinner, Rhadika!

You're invited to dinner, William!

You're invited to dinner, Vinay!
['rhadika', 'william', 'vinay']

---
**3-6. More Guests**

In [136]:
print(guest_list)

['rhadika', 'william', 'vinay']

In [137]:
print(guest_list)
print('I found a bigger table!')
guest_list.insert(0, 'tracy')
guest_list.insert(2, 'corinne')
guest_list.append('brian')
print(guest_list)
for guest in guest_list:
    print(f"\nYou're invited to dinner, {guest.title()}!")

['rhadika', 'william', 'vinay']
I found a bigger table!
['tracy', 'rhadika', 'corinne', 'william', 'vinay', 'brian']

You're invited to dinner, Tracy!

You're invited to dinner, Rhadika!

You're invited to dinner, Corinne!

You're invited to dinner, William!

You're invited to dinner, Vinay!

You're invited to dinner, Brian!

---
**3-7. Shrinking Guest List**

In [138]:
print(guest_list)

['tracy', 'rhadika', 'corinne', 'william', 'vinay', 'brian']

In [139]:
print('My new dinner table won\'t arrive on time :(')
for guest in guest_list[2:]:
    guest_list.pop()
    print(f"\nMy bad {guest.title()}, I can't invite you to dinner")
for guest in guest_list:
    """i = 0"""
    print(f"\n{guest}, you're still invited")
    """del guest_list[i]"""
del guest_list[0]
del guest_list[0]
print(guest_list)

My new dinner table won't arrive on time :(

My bad Corinne, I can't invite you to dinner

My bad William, I can't invite you to dinner

My bad Vinay, I can't invite you to dinner

My bad Brian, I can't invite you to dinner

tracy, you're still invited

rhadika, you're still invited
[]

---
p.46<br><br></br>
**3-8. Seeing the World**

In [21]:
places = ['great barrier reef, australia', 'capetown, south africa', 'tokyo, japan', 'athens, greece', 'barcelona, spain']
print(places)

['great barrier reef, australia', 'capetown, south africa', 'tokyo, japan', 'athens, greece', 'barcelona, spain']

In [22]:
print(sorted(places))
print(sorted(places, reverse=True))
print(places)

['athens, greece', 'barcelona, spain', 'capetown, south africa', 'great barrier reef, australia', 'tokyo, japan']
['tokyo, japan', 'great barrier reef, australia', 'capetown, south africa', 'barcelona, spain', 'athens, greece']
['great barrier reef, australia', 'capetown, south africa', 'tokyo, japan', 'athens, greece', 'barcelona, spain']

In [23]:
places.reverse()
print(places)
places.reverse()
print(places)

['barcelona, spain', 'athens, greece', 'tokyo, japan', 'capetown, south africa', 'great barrier reef, australia']
['great barrier reef, australia', 'capetown, south africa', 'tokyo, japan', 'athens, greece', 'barcelona, spain']

In [27]:
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['athens, greece', 'barcelona, spain', 'capetown, south africa', 'great barrier reef, australia', 'tokyo, japan']
['tokyo, japan', 'great barrier reef, australia', 'capetown, south africa', 'barcelona, spain', 'athens, greece']

---
**3-9. Dinner Guests**

In [30]:
guest_list = ['tracy', 'rhadika', 'corinne', 'william', 'vinay', 'brian']
len(guest_list)

6

In [31]:
print(f"\nI'm inviting {len(guest_list)} guests to dinner.\n")

I'm inviting 6 guests to dinner.

---
**3-10. Every Function**
(pending)