# Chapter 4 - Working with Lists

## Looping through an Entire List

### for loop (p.50-52)
* run through all items entire list, performing the same task with each item
* most common ways a computer automates repetitive tasks
* choose any meaningful name for temporary variable to be associated with each value in a list
    * for cat in cats:
    * for dog in dogs:
    * for item in list_of_items:

In [4]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(magician)
print('\n')

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

alice
david
carolina


Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

---
## Making Numerical Lists
* lists are ideal for storing sets of numbers
    * keep track of of player's positions or high scores in a game
    * work with sets of numbers (temps, distances, population sizes, etc) in data visualizations

### range() Function - generate a series of numbers (p.57)
* Pass range() only one argument - it will start sequence of numbers at 0
* Python starts counting at the first value you give it, then stops when it reaches second value
    * off-by-one behavior - the output never contains the end value

In [12]:
# output starts at 1 and ends at 5
for value in range (1, 6):
    print(value)

1
2
3
4
5

### range() and list() Functions - make a list of numbers (p.58)
* convert results of range() directly into a list using the list() function

In [17]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

<br></br>
**pass a third argument to range() function - list of even numbers**
   * Python uses that value as a step size

In [18]:
# starts with the value 2, then adds 2 to that value
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

<br></br>
**two asterisks (**) represent exponents**
   * square of each integer

In [23]:
# makes a list of the first 10 square numbers - with temporary variable 'square' to make code easier to read
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
# makes a list of the first 10 square numbers - without temp variable 'square' / more concise code
squares = []
for value in range(1, 11):
    # square = value ** 2
    squares.append(value ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<br></br>
**List Comprehensions**
   * allows you to generate the same list of first 10 squares - in just one line of code
   * combines the for loop and the creation of new elements to automatically append each new element

In [31]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### min(), max(), sum() Functions - simple statistics with a list of numbers (p.59)
* find the minimum, maximum, and sum of a list of numbers
* typecast to str() to convert data type from integer to string

In [30]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 0]
print(f"Minimum value from list of digits: {str(min(digits))}")
print(f"Maximum value from list of digits: {str(max(digits))}")
print(f"Sum value from list of digits: {str(sum(digits))}")

Minimum value from list of digits: 0
Maximum value from list of digits: 8
Sum value from list of digits: 36

---
## Working with Part of a List
* slice - work with a specific group of items in a list
    * specify the index of the first and last elements you want to work with
    * Python stops one item before the second index specified
    * If first index omitted, Python starts slice at the beginning of the list
    * If second index omitted, Python includes the end of the list

### Slicing a List (p.61)

In [38]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players)
print(players[1:4])
print(players[:3])
print(players[2:])

['charles', 'martina', 'michael', 'florence', 'eli']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael']
['michael', 'florence', 'eli']

**End of List Slice (p.62)**
* negative index returns an element a certain distance from end of a list
    * output any slice from end of list by specifying negative index as 1st slice value

In [41]:
print(players[-3])
print(players[-3:])

michael
['michael', 'florence', 'eli']

**Third value in brackets indicating a Slice (p.62)**
* tells Python how many items to skip between items in the specified range

In [42]:
print(players)
print(players[1:4:2])

['charles', 'martina', 'michael', 'florence', 'eli']
['martina', 'florence']

### Looping through a Slice (p.62)
* use a slice in a *for* loop to loop through a subset of elements in a list
    * working with data - use slices to process data in chunks of a specific size
    * building web app - use slices to display info in a series of pages with appropriate amount of info on each page
    * creating a game - add player's final score to list then get top three scores by decrease sorting/taking a slice

In [44]:
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

### Copying a List (p.63)
* make a slice that includes the entire original list by omitting the first and second index ([ : ])
    * must use a slice to produce two seperate lists, or it will associate amother variable to point to same list

In [46]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(f"\t{my_foods}")
print("\nMy friend's favorite foods are:")
print(f"\t{friend_foods}")

My favorite foods are:
	['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
	['pizza', 'falafel', 'carrot cake']

In [47]:
# add new food to each list with append(), p.64
my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(f"\t{my_foods}")
print("\nMy friend's favorite foods are:")
print(f"\t{friend_foods}")
print('\n')

My favorite foods are:
	['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
	['pizza', 'falafel', 'carrot cake', 'ice cream']

---
## Defining a Tuple (p.66)
* tuple - an immutable (cannot change) list
    * use them to store a set of values that should not be changed throughout life of a program
        * ex) if we have a rectangle to always be certain size, put dimensions into a tuple  
    * looks like a list except use parenthesis instead of square brackets
    * access individual elements by using each item's index (just as would for a list)
    * to define a tuple with one element, need to include a trailing comma, ex) `my_t = (3,)`
        * tuples are technically defined by the presence of a comma; parenthesis make neater/more readable

In [12]:
dimensions = (20, 50)
print(dimensions[0])
print(dimensions[1])

20
50

### Looping through All Values in a Tuple (p.67)
* use a *for* loop

In [13]:
for dimension in dimensions:
    print(dimension)

20
50

### Writing over a Tuple (p.67)
* can't modify a tuple but can assign a new value to a variable that represents a tuple

In [14]:
print(f"Original dimensions: {dimensions}")

dimensions = (400, 100)
print(f"Modified dimensions: {dimensions}")

Original dimensions: (20, 50)
Modified dimensions: (400, 100)

---
# Practice Problems
p.56

**4-1. Pizzas**

In [32]:
pizzas = ['pepperoni', 'sausage', 'veggie']
for pizza in pizzas:
    print(pizza)
    print(f"I like {pizza} pizza.")
print(f"\nI really love pizza!")

pepperoni
I like pepperoni pizza.
sausage
I like sausage pizza.
veggie
I like veggie pizza.

I really love pizza!

___
**4-2. Animals**

In [10]:
animals = ['dog', 'cat', 'fish']
for animal in animals:
    print(f"A {animal} would make a great pet.")
print(f"Any of these animals would make a great pet!\n")

A dog would make a great pet.
A cat would make a great pet.
A fish would make a great pet.
Any of these animals would make a great pet!

p.60

___
**4-3. Counting to Twenty**

In [33]:
for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

___
**4-4. One ~~Million~~ Thousand**

In [5]:
numbers = list(range(1, 1001))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

___
**4-5. Summing a ~~Million~~ Thousand**

In [8]:
min_digit = min(numbers)
print(f"Min value: {min_digit}")
max_digit = max(numbers)
print(f"Max value: {max_digit}")
sum_of_digits = sum(numbers)
print(f"Sum value: {sum_of_digits}")

Min value: 1
Max value: 1000
Sum value: 500500

___
**4-6. Odd Numbers**
* list of all true odd numbers not possible when using third argument in range???

In [25]:
odd_numbers = range(1, 21)
print(list(odd_numbers))
for number in odd_numbers:
    if number%2 != 0:
        print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1
3
5
7
9
11
13
15
17
19

___
**4-7. Threes**

In [27]:
multiples_of_threes = range(3, 31, 3)
print(list(multiples_of_threes))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

___
**4-8. Cubes**

In [33]:
cubes = range(1, 11)
for cube in cubes:
    cube = cube**3
    print(cube)

1
8
27
64
125
216
343
512
729
1000

___
**4-9. Cube Comprehension**

In [35]:
cubes = [cube**3 for cube in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

___
p. 65
<br><br></br>
**4-10. Slices**

In [51]:
numbers = list(range(1, 11))
print(numbers)
print(f"The first three items in the list are: {numbers[:3]}")
print(f"Threee items from the middle of the list are: {numbers[3:6]}")
print(f"The last three items in the list are: {numbers[-3:]}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The first three items in the list are: [1, 2, 3]
Threee items from the middle of the list are: [4, 5, 6]
The last three items in the list are: [8, 9, 10]

___
**4-11. My Pizzas, Your Pizza**

In [55]:
my_pizzas = ['pepperoni', 'sausage', 'veggie']
friend_pizzas = my_pizzas[:]
my_pizzas.append('hawaiian')
friend_pizzas.append('mushroom')
print(f"My favorite pizzas are:")
for pizza in my_pizzas:
    print(pizza)
print(f"\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(pizza)

My favorite pizzas are:
pepperoni
sausage
veggie
hawaiian

My friend's favorite pizzas are:
pepperoni
sausage
veggie
mushroom

___
**4-12. More Loops**

In [56]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
for my in my_foods:
    print(my)
print("\nMy friend's favorite foods are:")
for friend in friend_foods:
    print(friend)

My favorite foods are:
pizza
falafel
carrot cake
cannoli

My friend's favorite foods are:
pizza
falafel
carrot cake
ice cream

___
p. 68
<br><br></br>
**4-13. Buffet**

In [3]:
buffet = ('corn', 'salad', 'chicken', 'shrimp', 'bread')
for food in buffet:
    print(food)
buffet = ('corn', 'salad', 'chicken', 'beef', 'cookies')
print(f"Modified buffet: {buffet}")

corn
salad
chicken
shrimp
bread
Modified buffet: ('corn', 'salad', 'chicken', 'beef', 'cookies')